OPENCLAW_GATEWAY_TOKEN=my-random-gateway-token # Set a random hard to guess token

# Model configuration
# Uncomment API key env var as needed depending on OPENCLAW_MODEL
# Also update blaxel.toml for correct env var selection 
OPENCLAW_MODEL=anthropic/claude-opus-4-6
ANTHROPIC_API_KEY=your-anthropic-api-key
# GEMINI_API_KEY=your-gemini-api-key
# OPENAI_API_KEY=your-openai-api-key

# Optional environment variables
# Uncomment as needed
# TELEGRAM_BOT_TOKEN=your-telegram-bot-token
